@import "tailwindcss";

body {
  background-color: #fdfdfd;
  font-family: 'Space Grotesk', system-ui, sans-serif; 
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px; 
}

/* Custom Neobrutalism Cursor */
body {
  cursor: crosshair;
}

button, a, input, textarea {
  cursor: pointer;
}
/* Animasi Marquee */
@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}
.animate-marquee {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 15s linear infinite;
}
@keyframes race {
  0% { transform: translateX(-20vw); }
  100% { transform: translateX(120vw); }
}